* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-image: url('../assets/axiom-pattern.png');
    background-attachment: fixed;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
