.introTitles {
    color: rgb(27, 27, 27);
    margin-left: 10rem;
}

.title {
    font-size: 140px;
}

.subtitle {
    font-size: 70px;
}

.socialMediaIcons {
    width: 50px;
}

.socialMediaIcons:hover{
    filter: invert(0.4);
}


@media only screen and (max-width: 1200px) {
    .title {
        font-size: 100px;
    }
    .subtitle {
        font-size: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 40px;
        text-align: center;
    }
    .subtitle {
        font-size: 22px;
        text-align: center;
    }
    .introTitles {
        margin-left: 0;
        width: 100%;
    }
    .socialMediaIcons {
        width: 30px;
    }
}

@media only screen and (max-height: 600px) {
    .title {
        font-size: 40px;
        text-align: center;
    }
    .subtitle {
        font-size: 22px;
        text-align: center;
    }
    .introTitles {
        margin-left: 0;
        width: 100%;
    }
    .socialMediaIcons {
        width: 30px;
    }
}